<style>
  nav h1 {
    display: block;
    margin: 0 auto;
  }
  #content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #content div img {
    width: 100%;
  }
  #firstNameBox {
    border: 1px #444 solid;
    padding: 0.2em;
  }
</style>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-4">
  <h1 class="centered">Glamour photos</h1>
</nav>
<div class="container">

  <form action="<%= check_name_path %>" method="get" id="glamourForm" format="js" data-remote="true" class="text-center" >
    <label class="pr-3" for="firstName">Enter your Name:</label>
    <%= text_field_tag 'firstName', params[:firstName], id: 'firstNameBox', required: true %>
    <input type="hidden" id="pageIndex" name="page" value="0" />
    <input type="submit" value="Submit" class="btn m-3 submit disableOnSearch-js" />
  </form>

  <div id="content"></div>

  <div class="d-flex justify-content-center p-5 invisible">
    <button class="disableOnSearch-js" onclick="resendForm()">Find More Glamour Shots</button>
  </div>
</div>

<script>
  function getUrlVars(){
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
  }
  function resetPage() {
    $('#pageIndex').val(0);
    $('#content').html('');
  }
  function resendForm() {
    $('#glamourForm input.submit').click()
  }

  $('#content').on('click', '.fb_share_button-js', function(evt) {
    var firstName = $('#firstNameBox').val();
    FB.ui({
      method: 'share_open_graph',
      action_type: 'og.shares',
      action_properties: JSON.stringify({
        object : {
           'og:url': location.href,
           'og:title': `Glamour shot of ${firstName}`,
           'og:description': 'I found my glamour shots, you can too.',
           'og:image': $(this).data('src')
          }
      })
    }, function(response){});
  });

  $('#glamourForm').on('ajax:before', function() {
    $('.disableOnSearch-js').attr('disabled', true)
    var {firstName} = getUrlVars();
    var textBoxVal  = $('#firstNameBox').val();

    if(firstName.length > 0 && (textBoxVal !== firstName)){
      resetPage();
    }
  });

  $('#glamourForm').on('ajax:send', function() {
    var paramObj = {};
    $.each($(this).serializeArray(), function(_, kv) {
      paramObj[kv.name] = kv.value;
    });


    history.pushState(
      paramObj,
      `Glamour Shots for ${paramObj['firstName']}`,
      `/?firstName=${paramObj['firstName']}`
    );

    newIndex = parseInt($('#pageIndex').val()) + 1
    $('#pageIndex').val(newIndex);
  })

  $('#glamourForm').on('ajax:success', function() {
    $('.disableOnSearch-js').removeAttr('disabled')
  })

  $(function() {
    if($('#firstNameBox').val() !== ''){
      $('#glamourForm input.submit').click();
    }
  })

  window.onpopstate = function(event) {
    var {firstName} = event.state;
    $('#firstNameBox').val(firstName);
    resetPage();
    resendForm()
  }
</script>